.container{
  width: 250px;
  height: 350px;
  box-shadow: 2px 5px 4px 2px rgba(0,0,0,0.3);
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: rgb(73, 123, 223)
  }
  .searchOrbitalBody{
    width: 195px;
    height: 10%;
    outline: none;
    padding-left: 50px;
    border: none;

  }
  form{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
    div{
      width: 90%;
      padding: 10px;
      cursor: pointer;
      font-size: 1.2rem;
      &:hover{
        background-color: rgb(230, 230, 230);
      

      }
    }

  
  }
 
}